
body {
    font-family: sans-serif;
    text-align: center;
    background: #FFF2C1;
}

.link {
    font-size: 1em;
}

.game-idea-view {
    margin: 10px auto;
    width: 75%;
    border: solid 2px #000;
    padding: 20px;
    background: #fff;
}

#game-idea { 
    font-size: 3em; 
}

#game-idea em {
    text-decoration: underline;
}

#generate { 
    font-size: 2em; 
    cursor: pointer;
    width: 100%;
    background: #FFC1E2;
    border: outset 2px #000;
    border-radius: 15px;
}

@media only screen and (max-width: 1000px) {

    #game-idea {
        font-size: 5em;
    }

    #generate { 
        font-size: 4em; 
        cursor: pointer;
    }

}
